* {
    /* Primary Colours */
    --primary-desaturated-dark-cyan:  hsl(180, 29%, 50%);

    /* Neutral Colours */
    --neutral-background-grayish-cyan: hsl(180, 52%, 96%);
    --neutral-filter-grayish-cyan: hsl(180, 31%, 95%);
    --neutral-dark-grayish-cyan: hsl(180, 8%, 52%);
    --neutral-darker-grayish-cyan: hsl(180, 14%, 20%);

    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
}

@font-face {
    font-family: 'League Spartan Medium';
    src: local('League Spartan Medium'),
     url("./Fonts/LeagueSpartan-Medium.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: 'League Spartan Bold';
    src: local('League Spartan Bold'),
     url("./Fonts/LeagueSpartan-Bold.ttf") format("truetype");
    font-weight: bold;
}
    
body {
    padding: 0;
}

img, 
h1,
h2,
ul,
p {
    padding: 0;
    margin: 0;
}

/* Colors and font */

.companyName {
    color: var(--primary-desaturated-dark-cyan);
    font-family: 'League Spartan Bold';
}

.position:hover {
    cursor: pointer;
    color: var(--primary-desaturated-dark-cyan);
}

.new {
    color: white;
    background-color: var(--primary-desaturated-dark-cyan);
    font-family: 'League Spartan Medium';
}

.featured {
    color: white;
    background-color: var(--neutral-darker-grayish-cyan);
    font-family: 'League Spartan Medium';
}

.position {
    color: var(--neutral-darker-grayish-cyan);
    font-family: 'League Spartan Medium';
}

.listItems {
    color: var(--neutral-dark-grayish-cyan);
    font-family: 'League Spartan Medium';
}

.button {
    font-family: 'League Spartan Medium';
}

.button:hover {
    color: white;
    background-color: var(--primary-desaturated-dark-cyan);
}

.body {
    background-color: var(--neutral-background-grayish-cyan);
    width: 100%;
}

.backPicture {
    background-color: black;
    width: 100%;
}

img {
    max-width: 100%;
}

.body {
    background-color: var(--neutral-background-grayish-cyan);
}


.container {
    display: grid;
    place-items: center;
}

.main {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    padding: 10px;
    margin: 10px;
    background-color: white;
    font-family: 'League Spartan';
    /* background-color: var(--neutral-darker-grayish-cyan); */
    /* min-height: 100vh; */
}

.firstSection {
    display: grid;
    grid-template-columns: 0.6fr 1fr;
}

.information {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.companyName {
    display: flex;
}



.companySide {
    display: flex; 
    place-items: center;
}

.conditional {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.minorThings {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.hidden {
    display: hidden;
}

.buttonHolder {
    display: flex;
    gap: 10px;
}

.button {
    display: flex;
    background-color: var(--neutral-filter-grayish-cyan);
    color: var(--primary-desaturated-dark-cyan);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px;
    
}

.buttons:hover{
    background-color: var(--primary-desaturated-dark-cyan);
    color: white;
}



@media screen and (max-width: 740px) {
    .backPicture {
        content: url("../public/images/bg-header-mobile.svg");   
    }
}

@media screen and () {
    
}


